@{
    ViewData["Title"] = "Admin Page";
}


<!-- Customer Lookup Form-->
@model AdminModel

<div>
    <h1 class="mt-2">Customer Search</h1>
</div>

<form class="row g-3 mt-2" method="get">

  <div class="col-md-3">
    <input type="text" class="form-control" id="customerFirstName" placeholder="First Name" name="firstName" >
  </div>
  <div class="col-md-3">
    <input type="text" class="form-control" id="customerLastName" placeholder="Last Name" name="lastName">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>


<table class="table table-dark table-striped table-bordered">
    <thead>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
    </thead>
    <tbody>
        @{
            foreach (var customer in @Model.Customers)
            {
                <tr>
                    <td>
                        @customer.FirstName
                    </td>
                    <td>
                        @customer.LastName
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<!-- old display -->
@* @foreach(var customer in @Model.Customers){
  <p>@customer.FirstName @customer.LastName</p>
} *@




<div>
    <h1 class="mt-2">Address Search</h1>
</div>
